html
{
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
	-webkit-text-size-adjust: 100%;
}

#demo-canvas
{
	width: 75vmin;
	height: calc(75vmin * 9 / 16);
}